.list__item{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 5px 0;
    
    padding: 10px;
    border-radius: 10px;
}
.list__item:hover{
    background-color: rgba(184, 184, 184, 0.329);
    cursor: pointer;
}
.list__item .icon{
    width: 30px;
    height: 30px;
margin-right: 10px;
    color: var(--primary);
   
}
.icon.ingredient{
  
    color: rgb(233, 105, 45);
}
.icon.more{
    background-color: rgba(204, 204, 204, 0.678);
    border-radius: 50%;
    color: black;
    padding: 4px;
}
.shortcuts p{
    color: gray;
    margin: 5px 0;
    font-size: 20px;
}