.right__sidebar{
    flex-basis: 25%;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.1) inset;
    /* border-radius: 50px 0px 0px 10px; */
   overflow-y: scroll;
   height: 90vh;
    padding: 20px;
}
.right__sidebar::-webkit-scrollbar{
    width: 5px;
}
.right__sidebar::-webkit-scrollbar-track{
    background-color: #fff;
}
.right__sidebar::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
}
.title{
    font-weight: 500;
    color: gray;
}

.gift{
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}
.gift p{
    
    color: rgb(51, 51, 51);
    margin: 10px 5px ;
}
.gift .icon{
    color: dodgerblue;
    width: 40px;
    height: 40px;
}
.contacts__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__left p{
    font-weight: 500;
    color: gray;
    font-size: 16px;
}
.header__right .icon{
    margin: 0 7px;
    color: gray;
}
.contact{
    display: flex;
    align-items: center;
    margin: 6px 0;
    padding: 5px;
    border-radius: 10px;
}
.contact:hover{
    background-color: rgba(204, 204, 204, 0.445);
    cursor: pointer;
}
.contact p{
    font-weight: 500;
    color: rgb(78, 78, 78);
}
.contact img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}