.post{
    background-color: #fff;

    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);

}
.post__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__left .user__info .username{
    font-weight: bold
}
.header__left .timing{
    display: flex;
    align-items: center;
}
.post__header .header__left img{
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 5px;
}
.globe__icon{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    color: gray;
}
.timing{
    font-size: 12px;
    margin-top: 5px;
}
.post__body img{
    width: 100%;
    margin-top: 10px;
}
/* icon__group */
.icon__group{
    color: gray;
}
.like__container{
    display: flex;
    align-items: center;
}
.like__icon{
    background-color: dodgerblue;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
}
.post__footer{
    display: flex;
    padding: 5px;
}
/* likes__comments */
.likes__comments{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 14px;
    color: gray;
}
/* feeback */
.feeback{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.feeback.hide{
    display: none;
}
.feeback img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.feeback input{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin:0 5px;
    border-radius: 20px;
}
.feeback .icon{
color: #fff;
    background-color: dodgerblue;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    transform: rotate(-25deg);
    transition: .2s;
}
.feeback .icon:hover{
    cursor: pointer;
    background-color: rgb(22, 95, 168);

}