.profile__container{
    display: flex;
}
/* profile__body */
.profile__body{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
}
.profile__left{
    flex-basis: 30%;
  
}
.profile__right{
    /* background-color: red; */
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
}
.profile__right h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.posters{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
    height: 630px;
}
.posters::-webkit-scrollbar{
    width: 5px;
}
.posters::-webkit-scrollbar-track{
    background-color: #fff;
}
.posters::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
}
/* Responsive */
@media screen and (max-width:500px) {
    .profile__body{
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .posters{
        height: 200px;
    }
    

}