.stories{
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
    padding: 5px;
transition: .3s;
scroll-behavior: smooth;

}
.stories__header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: gray;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.stories__header .active{
    border-bottom: 3px solid dodgerblue;
    color: dodgerblue;
}
.stories__header p{
    padding: 20px;
    width: 100%;
border-radius: 10px;
margin: 0 10px;
text-align: center;
}
.stories__header p:hover{
    background-color: rgba(184, 184, 184, 0.342);
    cursor: pointer;
}
.line.stories{
    /* background-color: red; */
    margin-top: -5px;
}
.stories__container{
    display: flex;
    overflow-x: scroll;
    position: relative;
    margin-top: 10px;
   
}
.stories__container::-webkit-scrollbar{
    display: none;
}

.scroll__icon{
background-color: rgb(231, 231, 231);
position: absolute;
top: 40%;
right: 5px;
z-index: 1;
border-radius: 50%;
width: 100px;
height: 100px;
}
.scroll__icon_back{
    background-color: rgb(231, 231, 231);
position: absolute;
top: 40%;
left: 10px;
z-index: 1;
width: 150px;
height: 150px;
border-radius: 50%;
display: none;
visibility: hidden;

}
.scroll__icon_back.active{
    visibility: visible;
}
.scroll__icon:hover, .scroll__icon_back:hover{
    cursor: pointer;
    background-color: rgb(165, 165, 165);

}